* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem 1rem;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: red;
}

.container {
    width: 100%;
    display: grid;
}

section {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: grid;
    text-align: center;
}

section.contact {
    text-align: left;
}

section button{
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 50%;
}

section button a{
    text-decoration: none;
    display: block;
}