* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 2rem 1rem;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: red;
}

.container {
    width: 100vw;
    padding: 1rem;
}

section {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display: grid;
    padding: 1rem 1rem;
}

section.domain {
    flex-direction: column;
    text-align: center;
}