* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem 1rem;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: red;
}

.container {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column ;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    text-align: center;
}

section.contact {
    text-align: left;
    flex-direction: row ;
    flex: 1;
    flex-wrap: wrap;
}

section h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
    section h3{
    width: 100%;
}

section button{
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: 100%;
}

section a{
    flex: 1;
    margin: 5px;
    text-decoration: none;
    display: block;
}